<launch>
  <arg name="config_dir"  default="$(find cam_sync)/config"/>
  <arg name="config_file" default="$(arg config_dir)/cam_sync_example.yaml"/>
  <arg name="calib_dir"   default="$(arg config_dir)"/>
  
  <arg name="fps"    default="40"/>
  <arg name="output" default="screen"/>
  <arg name="shutter_ms"    default="2.0"/>
  <arg name="format7_mode"  default="0"/>
  <arg name="width"   default="1920"/>
  <arg name="height"  default="1200"/>
  <arg name="wb_red"   default="691"/>
  <arg name="wb_blue"  default="691"/>
  <arg name="strobe_control"  default="1"/>
  <arg name="trigger_source"  default="0"/>
  <arg name="master_camera_index"  default="-1"/>
  <arg name="debug_timestamps"  default="false"/>
  <arg name="dt_avg_time"  default="10.0"/>
  <arg name="gain_db"  default="0"/>
  
  <arg name="rotate_image" default="false"/>

  <!-- after this time the sync will exit! -->
  <arg name="duration" default="30000" />
  <arg name="num_cameras" default="8"/>

  <!-- Broadcast camera image for specified amount of time. -->
  #	launch-prefix="gdb -ex run --args"
  <node pkg="cam_sync" type="cam_sync_node" name="cam_sync"
	required="true" clear_params="true" output="$(arg output)">
    <rosparam command="load" file="$(arg config_file)"/>
    <param name="calib_dir"           type="string" value="$(arg calib_dir)"/>
    <param name="rotate_image"        type="bool" value="$(arg rotate_image)"/>
    <param name="dt_avg_time"      type="double" value="$(arg dt_avg_time)"/>
    <param name="master_camera_index" type="int"
	   value="$(arg master_camera_index)"/>
    <param name="debug_timestamps"
	   type="bool" value="$(arg debug_timestamps)"/>

    <param name="rec_length" type="double" value="$(arg duration)"/>
    <param name="num_cameras" type="int" value="$(arg num_cameras)"/>
    <param name="fps" type="double" value="$(arg fps)"/>
    <!-- format7_mode (for grasshopper 2048x2048 image)
	 0 = full resolution,
	 1 = 2x2 bayer binning (1 x fps, half resolution, but 4 x brightness),
	 2 = 2x2 decimation (2 x fps, half resolution, 1 x brightness)
    -->
    <param name="format7_mode" type="int" value="$(arg format7_mode)"/>
    <param name="width"  type="int" value="$(arg width)"/>
    <param name="height" type="int" value="$(arg height)"/>
    <param name="auto_white_balance" type="bool" value="false"/>
    <param name="white_balance"  type="bool" value="true"/>
    <param name="strobe_control" type="int" value="$(arg strobe_control)"/>
    <param name="trigger_source" type="int" value="$(arg trigger_source)"/>
    <param name="wb_red"  type="int" value="$(arg wb_red)"/>
    <param name="wb_blue" type="int" value="$(arg wb_blue)"/>
    <param name="shutter_ms" type="double" value="$(arg shutter_ms)"/>
    <param name="gain_db" type="double" value="$(arg gain_db)"/>
  </node>
</launch>
